body{
  background-color: #f4f3ef;
}

/*Typography */
h1, h2 {
  margin-left: 60px;
}
h1 {
  color: #f6ae73;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

/* Splash */

.splash {
  padding-top: 260px;
}
