body{
  background-color: #f4f3ef;
  color: grey;
  font-size: 20px;
  background: linear-gradient(128deg, #f2eee9, #ffffff, #f5eee7, #f9f7f3);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}

/* Parents of the world */
.content * {
  position: relative;
  z-index: 1;
}

/* Links */
.activelink {
  color: #69ceea;
  font-weight: bold;
}
a {
  color: #f6ae73;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}


.componentContainer {
  max-width: 100%;
  padding: 100px;
  padding-right:100px;
}

.manifesto-one, .manifesto-two {
  width: 50%;
}
/* offset  and margins */

.offset {
  padding-left: 50px;
}
li {
  margin-bottom: 0;
}
.space-top {
  margin-top: 70px;
}

/*Typography */
h1, h2, h3, h4, p {
  letter-spacing: 1px;
}
h1, h2 {
  margin-left: 100px;
}

.cursor {
  animation: Blink 1s ease-in 0s infinite;
  font-size: 80px;
  color: #69ceea;
  font-weight: bold;
  /*position: absolute;
  left: 107px;
  top: -23px;*/
}

@keyframes Blink {
  0% { opacity: 0 }
  100% { opacity: 1 }
}


h1 {
  color: #f6ae73;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  color: grey;
  font-size: 35px;
  font-weight: 400;
}

h3 {
  color: #69ceea;
  font-weight: bold;
  font-size: 25px;
}

/* Splash */

.splash {
  padding-top: 230px;
}

/* Logo */

.logo {
  font-weight: bold;
  color: #f6ae73;
  margin-top: 40px;
  margin-left: 40px;
}

/* list styles */

li {
   list-style-type: none;
   font-size: 16px;
}

/* span */

.divider {
  border-bottom: 1px solid grey;
  width: 50px;
  padding-top: 20px;
  text-decoration: underline;
  display: block;
}

/* sidebar */
.sidebar {
  padding-right: 70px;
  padding-left:50px;
  margin:0;
}
.sidebarLineOne{
  height: inherit;
  margin: 0;
}
.sidebarLineTwo{
  border-left: solid 1px lightgrey;
  height: inherit;
  margin: 0;
}
.sidebarDiv { /*daddy*/
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

.navigation { /*bae*/
  position: relative;
  z-index: 2;
  text-align: right;
  margin-top: 20px;
  float:right;
}
.navigation li {
  /*display: inline;*/
  margin-right: 20px;
}
