body{
  background-color: #f4f3ef;
  color: white;
  font-size: 18px;
  background: linear-gradient(89deg, #38dfca, #388ddf, #9c38df, #df386a, #ecb036);
  background-size: 800% 800%;
  -webkit-animation: gradientAnimation 100s ease infinite;
  -moz-animation: gradientAnimation 100s ease infinite;
  animation: gradientAnimation 100s ease infinite;

}

@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@keyframes gradientAnimation {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
/* cursor animation homepage */
.cursor {
  animation: Blink 1s ease-in 0s infinite;
  font-size: 80px;
  color: white;
  font-weight: bold;
  /*position: absolute;
  left: 107px;
  top: -23px;*/
}

@keyframes Blink {
  0% { opacity: 0 }
  100% { opacity: 1 }
}


/* Parents of the world */
.content * {
  position: relative;
  z-index: 1;
}

/* Links */
.activelink {
  font-weight: bold;
  border-bottom: 1px solid white;
  padding: 10px;

}
a {
  color:white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

a:hover {
  color:white;
  opacity: 0.5;
}

input {
  padding:10px;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid white;
  outline: none;
}

input.error {
  border-bottom: 1px solid red;
}

/*input[type=text] {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border-bottom: 1px solid rgba(81, 203, 238, 1);
}*/


.componentContainer {
  max-width: 100%;
  padding: 100px;
  padding-right:100px;
}

.manifesto-one, .manifesto-two {
  width: 50%;
}
/* buttons */

.configure {
  position: relative;
  float: right;
}

button, .button {
  border: 1px solid white;
  border-radius: 0;
  color: white;
}

.button:hover {
  background-color: white;
  opacity: 0.5;
  border: none;
  color: grey;
}

.no-border, .no-border:hover {
  border: none;
  background-color: transparent;
  color:white;
  height: 20px;
}

button:hover {
  color:white;
  opacity:0.5;
}

/* offset  and margins and bold */
.bold {
  font-weight: bold;
}
.offset {
  padding-left: 50px;
}
li {
  margin-bottom: 0;
}
.space-top {
  margin-top: 70px;
}

.float-right {
  text-align: right;
  position: relative;
  float: right;
}
/*Typography */
h1, h2, h3, h4, p {
  letter-spacing: 1px;
}
h1, h2 {
  margin-left: 100px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  font-weight: 400;
}

h3 {
  font-weight: bold;
  font-size: 25px;
}

h4 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.italic {
  font-style: italic;
}

/* Splash */

.splash {
  padding-top: 230px;
}

/* Logo */

.logo {
  font-weight: bold;
  margin-top: 40px;
  margin-left: 40px;
}

.logoimg {
  width: 40px;
  vertical-align: middle;
  margin-right: 15px;
}
.logotitle {
  margin-bottom: 10px;
}

/* list styles */

li {
   list-style-type: none;
   font-size: 16px;
}

/* span */

.divider {
  border-bottom: 1px solid white;
  width: 50px;
  padding-top: 20px;
  text-decoration: underline;
  display: block;
}

.bio {
  margin-top: 40px;
  font-size: 15px;
}

/* sidebar */

.sidebar {
  padding-right: 0px;
  padding-left:50px;
  margin:0;
}
.sidebarLineOne{
  height: inherit;
  margin: 0;
}
.sidebarLineTwo{
  border-left: solid 1px white;
  height: inherit;
  margin: 0;
}
.sidebarDiv { /*daddy*/
  width: 100%;
  height: 130%;
  top: 0;
  position: absolute;
}
.navigation { /*bae*/
  position: relative;
  z-index: 2;
  text-align: right;
  margin-top: 20px;
  float:right;
}
.navigation li {
  /*display: inline;*/
  margin-right: 20px;
}
.small-text {
  color: white;
}

.selected {
  color: white;
  opacity: 0.5;
}

.element:hover {
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.select-service:hover {
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* animations */

.floating{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 10px);}
    to {-webkit-transform: translate(0, -0px);}
}

/* icons */

.twilioChannel, .gmailChannel {
  width: 160px;
  margin-right: 50px;
  margin-left: 40px;
  margin-top: 20px;
}

.twilioChannel {
  width: 216px;
}

.twilioChannel:hover, .gmailChannel:hover {
  -webkit-animation-name: none;
  opacity: 0.5;
}

.channels {
  display: -webkit-inline-box;
}


/* media queries */

@media (max-width: 600px) {
  .channels{
    display: block;
    margin-right: 20px;
  }

  .twilioChannel, .gmailChannel {
    margin-top: 40px;
    margin-left: 0px;
  }

  .componentContainer {
    padding:50px;
  }

  .sidebar {
    padding-right: 20px;
  }

  h1 {
    font-size: 60px;
    margin-left: 30px;
  }

  h2 {
    margin-left: 30px;
  }

}
